DATABASE_URL=postgresql://Username:Password@localhost:5432/Your_DB_Name
JWT_SECRET=mySuperSecretKey123456
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Azure OpenAI - for voice chat (voice_ws.py)
AZURE_OPENAI_API_KEY=YOUR_AZURE_API_KEY
AZURE_OPENAI_ENDPOINT=https://your-resource.voice.azure.com/
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o
AZURE_OPENAI_AwePI_VERSION=2024-02-15-preview